@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter-Regular.ttf') format('ttf');
  font-style: regular;
}
@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter-SemiBold.ttf') format('ttf');
  font-style: semi-bold;
}
@font-face {
  font-family: 'FigTree';
  src: url('/src/assets/fonts/Figtree-SemiBold.ttf') format('ttf');
  font-style: semi-bold;
}
@font-face {
  font-family: 'GeistMono';
  src: url('/src//assets/fonts/GeistMono-Regular.woff2') format('woff2');
  font-style: regular;
}

* {
  margin: 0;
  padding: 0;
}
/* animated root background */
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0px 100px;
  }
}
html,
body {
  color: white;
  font-family: var(--font-FigTree);
  background-color: #010101;
  background-image: radial-gradient(hsla(0, 0%, 85%, 0.2) 1px, transparent 1px);
  background-size: 25px 25px;
  animation: moveBackground 5s linear infinite;
}
/* animation for sentence in Home */
@keyframes type-writer-fade {
  0% {
    opacity: 0;
    /* -webkit-transform: translateX(-30px); */
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    /* -webkit-transform: translateX(0px); */
    transform: translateX(0px);
  }
}
.type-writer {
  font-size: 14px;
  color: white;
  animation: type-writer-fade 3s ease-in-out forwards;
  /* color: transparent;  */
  /* background: linear-gradient(to right, #f0f, #0ff);  */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

@keyframes marquee-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.icons-marquee {
  animation: marquee-fade 3s ease-in-out forwards;
}
#header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 2px !important;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, transparent, #ffffff, transparent);
}

@keyframes rotate-icon {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
#react-icon, #react-query-icon {
  animation: rotate-icon 5s linear infinite;
  transform-origin: center;
}

#pacman {
  margin-right: -30px;
  width: 88px;
  height: 88px;
  box-sizing: border-box;
  transform: rotate(60deg);
  background: linear-gradient(to right, #ffd700 50%, transparent 0);
  border-radius: 50%;
  z-index: 2;
}
#pacman::before {
  content: "";
  margin-left: 44px;
  background: #ffd700;
  border-radius: 0 100% 100% 0/50%;
  position: absolute;
  width: 44px;
  height: 88px;
  animation: boca 1s linear infinite;
  transform-origin: left;
}
@-moz-keyframes boca {
  50% {
    transform: rotate(70deg);
  }
}
@-webkit-keyframes boca {
  50% {
    transform: rotate(70deg);
  }
}
@-o-keyframes boca {
  50% {
    transform: rotate(70deg);
  }
}
@keyframes boca {
  50% {
    transform: rotate(70deg);
  }
}